@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for a consistent dark theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* Deep black track */
}

::-webkit-scrollbar-thumb {
  background: #22d3ee; /* Cyan thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1ca5b8; /* Darker cyan on hover */
}