@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #2d2d2d;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Rule to hide the default cursor on clickable elements */
a,
button {
  cursor: none;
}